/*/*/*/*/*/*/*/*/*@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/*@media
    only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
    }

  }*/






@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0%{
    opacity: 0;
    transform: translateX(-20rem); }
  80%{
    transform: translateX(1rem); }
  100%{
    opacity: 1;
    transform: translateX(0); } }












body{
  font-family: 'Montserrat', sans-serif;
}



*{
    box-sizing: border-box;
  



}
.navbar-default{
  background: rgba(0,0,0,0.9);
}
body{
  background-color:  #171717;
  font-family: Montserrat;
}




.boxsec{
  height:130vh;
    background: linear-gradient(180deg,rgba(6, 29, 63, 0.8) , rgba(255, 255, 255, 0) ),url(../back3.png) no-repeat  center;
    background-size: cover;
backface-visibility: hidden;
    width: 100%;

    
/*
   background-origin: content-box;
   background-size: auto;
 
*/
}


.new123 { 
  font-family: Montserrat;
  border:none;
font-style: normal;
font-weight: 500;
font-size: 63px;
animation: moveInLeft 1s ease-out;


color: #FFFCFC;
}
.text4{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 35px;
 animation: moveInRight 1s ease-out;
color: #FFFCFC;
text-align: center;
}
.text5{
  font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 100px;



   animation: moveInRight 1s ease-out;
color: #FFFCFC;

}

@media (max-width: 480px){
.new123{
  font-family: Montserrat;
  border:none;
font-style: normal;
font-weight: 500;
font-size: 30px;


color: #FFFCFC;

}

.text4{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;

color: #FFFCFC;
text-align: center;
}
.text5{
  font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 70px;


color: #FFFCFC;

}
/*.para2{
  
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 10px;


color: #FFFDFD;

}
*/






}


@media(max-width: 480px){
.nav-item > a {
margin-right: 0px;
}
.navbar-default{
  width: 100vw;
}

}


.butt1{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 40px;

/* identical to box height */


color: #FFFFFF;
}
.butt0{
  border: 4px solid #FFFFFF;
box-sizing: border-box;
height: 70px;


    background-color: Transparent;
    background-repeat:no-repeat;
    transition: all 1s;

    cursor:pointer;
    overflow: hidden;


}
.butt0:hover{
  transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.butt0:active{
  transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

  .butt0 > a{
  text-decoration: none;
  color: white;
}
 .carousel-inner img {
      width: 100%;
      height: 100%;
  }



/*section2*/




.hr1{
display: inline;	
position: absolute;
width: 70%;
height: 0px;
left:;
margin-top: 200px;


background: #D4AF37;
border: 1px solid #746464;
transform: rotate(0.24deg);

}
.box1{
background: #171717;
border: 1px solid #D4AF37;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.heading2{
	font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 64px;
color: #FFFFFF;
width: 100%;
}
	.hr2{
		display: inline;
	width: 200.02px;
	
	right: 80%;

	margin-top: 200px;

	background: #D4AF37;
	border: 1px solid #746464;
	}
/*carousel*/
/*timer*/
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

.new {
	margin-top: 50px;
	margin-bottom: 50px
 background: rgba(28, 28, 28, 0.8);

  height: 30vh;
  color: #fff;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  overflow: hidden;
}

/* Add a dark overlay */
.linetime{
  border: 1px solid #FFFFFF;
  width:50%;
}


#days{

  font-family: Montserrat;
font-style: normal;
font-size: 36px;
font-weight: 600;
text-align: center;
}
#hours{
  text-align: center;
  font-size: 36px;
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
}
#minutes{
  text-align: center;
  font-size: 36px;
 
   font-family: Montserrat;
font-style: normal;
font-weight: 600;
}
#seconds{
  text-align: center;
  font-size: 36px;

  font-family: Montserrat;
font-style: normal;
font-weight: 600;
}




/*.countdown {
   display: flex; 

  transform: scale(2);
}*/

/*.time {
  display: flex;
  flex-direction: column;
 
  justify-content: space-between;

}*/

.time h2 {
  margin: 0 0 5px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 45px;
  }

  .time {
    margin: 5px;

  }

  .time h2 {
    font-size: 12px;
    margin: 0;
  }

  .time small {
    font-size: 10px;
  }
  .a{
    background: rgba(255, 255, 255, 0.15);
    width: 40px;
  }
}

.a{
 
background: rgba(255, 255, 255, 0.15);
padding:0px;
width:100%;
  height: 120px;
  text-align: center;
  padding-top: 15px;


}

.abc{
  width: 19%;


}
/*section3*/
#box1{
	
margin-top: 150px;
 
margin-bottom: 150px
	}


.boxsec3{
    height: 120vh;
    background-position: top;


    background:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 94.9%), url(../images/codechefgroup.jpg)  center  no-repeat;
  background-size: cover;
}




.he{
	font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 78px;

color: #FFFFFF;

}
.para{
font-family: Montserrat;
font-style: normal;
font-size: 20px;
font-weight: normal;

line-height: 140%;
/* or 45px */

text-align: center;
letter-spacing: 0.02em;

color: #FFFEFE;

}

/*Section4*/
@media (max-width: 500px){
  .text3{
  
margin-top: 50px;
margin-bottom: 50px;



font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 4.2vw;
line-height: 43px;
/* identical to box height */


color: #FFFFFF;


}

}






.text1{




	font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 4vmin;
line-height: 43px;
margin-right: 10px;
/* identical to box height */


color: #FFFFFF;

}
.text2
{
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 4vmin;
line-height: 43px;
margin-right: 10px;
/* identical to box height */


color: #FFFFFF;


/* or 15px */




}

.text3{
	
margin-top: 50px;
margin-bottom: 50px;



font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 4vmin;
line-height: 43px;
/* identical to box height */


color: #FFFFFF;


}

/*section4*/

.box423{
	margin:0 auto;
	 box-sizing: border-box;


}
.box3{
width: 100%;
background: #034E4A;
height: 450px;
padding-top: 50px;
display: block;



}
.para2{
	
	font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 59px;

color: #FFFDFD;

}
.para3{
	margin-top:30px;
	font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 150;
font-size: 20px;
line-height: 137.2%;
margin-bottom: 50px;
/* or 47px */


color: #FFFFFF;

}

.bt1{
background: #052D2B;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 5px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 41px;
transition: all 1s;

color: #FFFFFF;

}
.bt1:hover{
  background-color: rgba( 51,204,51,0.8); 
  opacity: 0.8;

  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.bt1:active{
  transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);

}

.line2{
	background: #35716E;
border: 1px solid #35716E;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
width: 100px;
}







/*footer*/

.line6{
  border: 1.5px solid #000000;
transform: rotate(1.08deg);

width:150px;

}
.f1{
  height:300px;
}
/*width1*/


.w1h{
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 59px;

color: #FFFDFD;


}
.w1p1{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 28px;

/* identical to box height */


color: #FFFFFF;

}
.w1p1 > a{
  text-decoration: none;
  color: white;
}



/*width2*/

.w2h2{
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 59px;

color: #FFFDFD
}

@media (max-width: 500px) {


  .w1h {
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 32px;


color: #FFFDFD;
  }

  
.w1p1{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;

/* identical to box height */


color: #FFFFFF;

}
  
 .w2h2{
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 32px;


color: #FFFDFD
}

}
.foot1{
  background: url('../images/cclogobg.png') no-repeat center ;
    background-size: cover;
      background-size: 80% auto;

}
.butt2{
  text-align: center;
  background: #FFFFFF;
border-radius: 5px;
width:180px;
height: 58px;}

.input1{
  background: transparent;
  border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 6px;
color: #ffff;
}